/*
Author: Tricia Ling | @tricialing
*/

/********************************************/
/*Basic Styling
/********************************************/
body {
	font-family: 'Ubuntu Mono', monospace;
	background: url(img/background.jpg);
	padding: 2%;
	font-size: 100%;
	color: white;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2em;
	margin-bottom: -1%;
}

hr {
	width: 50%;
    margin-left: 0;
}

p {
	font-size: 1em;

}

a {
	text-decoration: none;
	color: lightcoral;
}

a:hover {
	color: white;
}

/********************************************/
/*LAYOUT
/********************************************/
.clear {
	display: block;
	height: 100px;
}

/********************************************/
/*MEDIA QUERY
/********************************************/

@media screen and (min-width: 760px) {
	h1 {
	  font-size: 3em; /* Increase the size of the page headline */
	}
	h2{
		font-size: 2em;
	}

	p {
		font-size: 1em;
	}

	.align-left {
		width: 50%;
		padding: 5%;
	}
}