/*
Author: Tricia Ling | @tricialing
*/

/********************************************/
/*Basic Styling
/********************************************/
body {
	background: url(img/bg.jpg);
	font-size: 100%;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #333;
}
section {
	margin: auto 0;
	padding: 3%;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 4em;
	margin: 0;
}

h2 {
	font-size: 1em;
	margin-top: 0;
}

p{
	font-weight: 300;
}

/********************************************/
/*LAYOUT
/********************************************/
.content-band{
	background: #d9d9d9;
	margin: 30% 0 0 0;
	width: 105%;
	padding: 10% 0;
}

.center {
	width: 80%;
	margin: 0 auto;
	}

/********************************************/
/*MEDIA QUERY
/********************************************/


@media screen and (min-width: 760px) {

	h1 {
		font-size: 6em; 
	}

	h2{
		font-size: 1.5em;
	}

	.content-band{
	margin: 10% 0 0 0;
	}
}
@media screen and (min-width: 1000px) {
		.center {
		width: 40%;
		margin: 0 auto;

	}
}