.sg-header {
	font-family: sans-serif;
	border-bottom: 1px solid #dddddd;
	font-size: 0.8em;
	color: grey;
	font-weight: 300;
}

.sg-swatch {
  display: block;
  height: 80px;
  width: 80px; 
  border: 1px solid #dddddd;
  padding: 1em;
  margin: 0 0.2em 0.2em 0;
}

.sg-2nd-swatch{
  display: block;
  height: 40px;
  width: 40px; 
  border: 1px solid #dddddd;
  padding: 1em;
  margin: 0 0.2em 0.2em 0;
}
.sg-label {
  line-height: 1; 
}

li {
	list-style: none;
}