body {
	background: url("img/background.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	font-family: "helvetica", sans-serif;
	color: white;
	font-weight: lighter;
	font-size: 100%;
}

div {
	width: 400px
	display: block;
	padding: 300px 200px;
}
ul {
	display: block;
	vertical-align: middle;
	line-height: 30px;
}

ul li a {
	text-decoration: none;
	color: white;
}

#video {
	position: absolute;
}

#download {
	list-style-image: url(img/download.png);
}

#watch {
	list-style-image: url(img/video.png);
}

