body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 100%;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 4em;
	padding: 0.8em 0;
	color: #4A4A4A;
}
h3{
	font-size: 1.8em;
	font-weight: 700;
	color: #4A4A4A;
}

h4{
	font-size: 1.5em;
}

a {
	text-decoration: none;
	font-weight: 700;
	color: #4A4A4A;
}

img {
	margin-bottom: 1em;
}

p {
	margin: 1em;
}

span {
	font-weight: 800;
}
.clear {
	clear: both;
}
.container {
	width: 80%;
	margin: 0 auto;
}

.blog-title {
	background-color: #54F9C2;
	padding: 0.3em 0.3em 0.3em 3em;
	margin-left: -3em;
}

.date{
	font-size: 0.9em;
	padding: 0.3em 0.3em;
}

.side-title{
	background-color: #7F7F7F;
	color: white;
	margin:1em 0;
	padding-left: 0.5em;
}

.nav {
	background-color: #7F7F7F;
	width: 100%;
	color: white;
	padding-left: 5em;
}
.nav ul{
	display: inline;
}

.nav li{
	display: inline;
	font-size: 1.3em;
	margin: 0.5em 0;
	color: white;
	text-decoration: none;
}

.social li a{
	padding: none;
	margin: none;
}

.left{
	float:left;
	width: 55%;
}

.right{
	float: right;
	width: 40%;
}